body{ 
    padding: 0; 
    margin: 0;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

html, body, #mapid { 
    height: 100%;
    width: 100%;
}

#titleName {
    display: flex;
    flex-direction: column;
    z-index: 999;
    position: absolute;
    font-size: 3em;
    font-weight: bold;
    top: 1%;
    width: 100%;
    text-align: center;
}

.blinking {
    animation: fade 0.7s infinite linear;
}

@keyframes fade { 
    from { 
        opacity: 1; 
    }
    35%, 65% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.marker-cluster-device {
    background-color: rgba(51, 255, 51, 0.7);
    border-radius: 5px !important;
    z-index: 999 !important; 
}

.marker-cluster-device:hover {
    background-color: rgba(51, 255, 51, 0.8);
    box-shadow: 0 0 10px #000;
}

.marker-icon {
    z-index: 999 !important;
}

.marker-icon-trk {
    z-index: 1000 !important;
}

.marker-img {
   width: 100%;
}

.marker-gprs {
    position: absolute;
    width: 110%;
    top: 93%;
    left: -5%;
}

.marker-trk-gprs {
    position: absolute;
    width: 80%;
    top: 95%;
    left: 11%;
}

.marker-play {
    position: absolute;
    width: 40%;
    top: -43%;
    left: 35%;
}

.marker-trk-play {
    position: absolute;
    width: 30%;
    top: -28%;
    left: 40%;
}

#editMode {
    display: none;
    position: absolute;
    z-index: 999;
    bottom: 1%;
    left: 40%;
}

.butt {
    color: black;
    font-weight: bold;
    background-color: white;
    padding: 0.3em 0.6em 0.3em 0.6em;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #797979;
    border-radius: 6px;
    box-shadow: 0 0 1px 1px #aaa;
}

.butt:hover {
    background-color: #CBCBCB;
}

.butt:active {
    background-color: #827F83;
}

.point-opacity {
    opacity: 1 !important;
    z-index: 1000;
}

.track-point:hover {
    opacity: 1 !important;
}

.marker-cluster-track:hover {
    opacity: 1 !important;
    z-index: 990 !important;
    box-shadow: 0 0 10px #000;
}

a.leaflet-popup-close-button {
    display: none;
}

.device-popup-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: -10px;
}

.device-popup-events {
    display: flex;
}

.device-popup-keys  {
    color: red;
    font-weight: bold;
}

.editable-cursor-nesw {
    cursor: nesw-resize !important;
} 

.editable-cursor-nwse {
    cursor: nwse-resize !important;
}

.circle-gsm {
    cursor: default !important;
}